/* Header styles */
.nav {
  padding: 10px;
  position: relative;
}

.header {
  list-style: none;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.header li {
  margin: 0;
}

.header a {
  text-decoration: none;
  color: black;
}

/* Hamburger icon and mobile menu styles */
.menu-toggle {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  font-size: 24px;
}

.header.menu-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .menu-toggle {
    display: block;
  }

  .header {
    display: none;
  }

  .nav.menu-open {
    padding-top: 10px;
  }
}

/* Larger screens */
@media screen and (min-width: 781px) {
  .menu-toggle {
    display: none;
  }

  .header {
    display: flex;
  }
}
