.quotes-container {
  padding: 50px 20px;
  text-align: center;
}

.quote-text {
  font-size: 24px;
  font-style: italic;
  color: #333 !important; /* Change this to the desired text color */
  margin-bottom: 20px;
}

.quote-author {
  font-size: 18px;
  font-weight: bold;
  color: #333 !important; /* Change this to the desired text color */
}

/* Responsive styles */
@media (max-width: 600px) {
  .quotes-container {
    padding: 30px 10px;
  }

  .quote-text {
    font-size: 20px;
    color: #333 !important;
  }

  .quote-author {
    font-size: 16px;
    color: #333 !important;
  }
}

@media (max-width: 480px) {
  .quote-text {
    font-size: 18px;
    color: #333 !important;
  }

  .quote-author {
    font-size: 14px;
    color: #333 !important;
  }
}
